{% extends 'main.html' %}
{% block content %}
{% if page == 'login' %}
    <div></div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="login-container">
            <div class="login-content">
                <h2>Login your account</h2>
                <div class="username-container">
                    <label>Email: </label>
                    <input name="username" type="text" placeholder="Enter your email">
                </div>
                <div class="password-container">
                    <label>Password: </label>
                    <input name="password" type="password" placeholder="Enter your password">
                </div>
                <button type="submit">Login</button>
                <a href="{% url 'register' %}" class="create-account">Dont have account?</a>
            </div>
        </div>
    </form>
    <div></div>
{%else%}
<div></div>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="login-container">
        <div class="login-content">
            <h2>Create your account</h2>
            {% for field in form %}
            <div class="field-container">
                <label>{{field.label}}: </label>
                {{field}}
            </div>
            {% endfor %}
            <button type="submit">Create account</button>
            <a href="{% url 'login' %}" class="create-account">Do you have account?</a>
        </div>
    </div>
</form>
<div></div>
{% endif %}
{% endblock content %}