{% extends 'main.html' %}
{% block content %}
<div></div>
<div class="news-container">
    <div class="news-main">
        <img src="{{news.picture.url}}">
        <p>{{news.content}}</p>
    </div>
    <div class="news-infos">
        <a href="{% url 'home' %}?q={{i.topic.name}}">{{news.topic}}</a>
        <div class="container">
        <p>Publish time: {{news.created}}</p>
        <form class="like-container" method="POST" action="">
            {% csrf_token %}
            <p>{{news.like}} likes</p>
            {% if liked == False %}
                <button class="like-button" type="submit">Like</button>
            {% endif %}
        </form>
        </div>
    </div>
</div>
<div></div>
{% endblock content %}