body{
    background-color: #eeeeee;
}
*{
    font-family: Arial;
}
.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
a{
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    background-color: #b20600;
    border-radius: 20px;
}
.logo-container{
    display: grid;
    place-items: center;
    margin: 10px ;
}
.logo{
    width: 10vw;
    border-radius: 10px;
}
.main-header{
    display: grid;
    place-items: center;
}
.main-header input{
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: none;
}
.right-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.avatar-container{
    display: grid;
    place-items: center;
}
.avatar{
    width: 3vw;
    background-color: white;
    border-radius: 50px;
}
.left-index{
    height: fit-content;
    background-color: #b20600;
    margin: 20px 0;
    border-radius: 20px;
}
.topic-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eeeeee;
    margin: 10px;
    border-radius: 10px;
}
.topic-container h2{
    margin: 10px;
    text-align: center;
    background-color: #eeeeee;
    color: #00092c;
    border-radius: 10px;
    padding: 20px;
}
.topic{
    margin: 10px;
    text-align: center;
    background-color: #eeeeee;
    color: #00092c;
    border-radius: 10px;
    padding: 10px;
}
.news-container{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: #b20600;
    border-radius: 20px;
    margin: 20px;
}
.news-main{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 10px;
}
.news-main img{
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.news-main p{
    color: #00092c;
    margin: 10px;
}
.news-infos{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.news-infos p{
    text-align: center;
    color: #eeeeee;
}
.left-index{
    display: flex;
    flex-direction: column;
}