{% load static %}
<header>
    <div class="left-header">
        <a href="{% url 'home' %}" class="logo-container">
            <img src="{% static 'image/news-logo.jpg' %}" class="logo">
        </a>
    </div>
    <div class="main-header">
        <form method="GET" action="{% url 'home' %}">
            {% csrf_token %}
            <label>
                <input name="q" placeholder="Search for posts" />
            </label>
        </form>
    </div>
    <div class="right-header">
        {% if request.user.is_authenticated %}
        <a href="#">
            Logout
        </a>
        <a href="#" class="avatar-container">
            <img src="{% static 'image/circle-user.svg' %}" class="avatar">
            <p>{{request.user.username}}</p>
        </a>
        {% else %}
        <div></div>
        <a href="#" class="avatar-container">
            <img src="{% static 'image/circle-user.svg' %}" class="avatar">
            <p>Login</p>
        </a>
        {% endif %}
    </div>
</header>